body {
    background-color: #532a7f;
}

#charactersTable {
    border-spacing: 10px;
    width: 100%;
}

.characterCell {
    border: 1px solid #000;
    text-align: center;
}

.characterAvatar {
    background-image: url("resources/pickle.webp");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    width: 350px;
}

#characterDescriptionContainer {
    display: none;
}
