body {
    background-color: #532a7f;
}

#charactersTable {
    width: 100%;
    height: 100%;
}

.characterCell {
    width: 300px;
    width: 400px;
    border: 1px solid;
}

.characterAvatar {
    background-image: url("resources/pickle.webp");
    background-color: transparent;
}

#characterDescriptionContainer {
    display: none;
}

